{
    "swagger": "2.0",
    "info": {
        "description": "This API serves the BHLnames app. It locates relevant sections in the Biodiversity Heritage Library that correspond provided names, references or pages.\n\nCode repository: https://github.com/gnames/bhlnames.\n\nAccess the API on the production server: https://bhlnames.globalnames.org/api/v1.",
        "title": "BHLnames API",
        "contact": {
            "name": "Dmitry Mozzherin",
            "url": "https://github.com/dimus",
            "email": "dmozzherin@gmail.com"
        },
        "license": {
            "name": "MIT",
            "url": "https://opensource.org/licenses/MIT"
        },
        "version": "1.0"
    },
    "host": "bhlnames.globalnames.org",
    "basePath": "/api/v1",
    "paths": {
        "/": {
            "get": {
                "description": "Gives information where to find docs.",
                "produces": [
                    "text/plain"
                ],
                "summary": "Information about the API documentation",
                "operationId": "get-info",
                "responses": {
                    "200": {
                        "description": "API documentation URL",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/cached_refs/{external_id}": {
            "get": {
                "consumes": [
                    "text/plain"
                ],
                "produces": [
                    "application/json"
                ],
                "summary": "Get nomenclatural event data by external ID from a data source.",
                "operationId": "get-cached-refs",
                "parameters": [
                    {
                        "type": "string",
                        "example": "\"BKDDK\"",
                        "description": "External ID",
                        "name": "external_id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "example": "\"true\"",
                        "description": "All Cached References",
                        "name": "all_refs",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Matched references for the provided external ID",
                        "schema": {
                            "$ref": "#/definitions/bhl.RefsByName"
                        }
                    }
                }
            }
        },
        "/items/{item_id}": {
            "get": {
                "consumes": [
                    "text/plain"
                ],
                "produces": [
                    "application/json"
                ],
                "summary": "Get metadata and taxonomic statistics of a BHL item.",
                "operationId": "get-item",
                "parameters": [
                    {
                        "type": "integer",
                        "example": 73397,
                        "description": "Item ID",
                        "name": "item_id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "BHL item metadata and statistics",
                        "schema": {
                            "$ref": "#/definitions/bhl.Item"
                        }
                    }
                }
            }
        },
        "/namerefs": {
            "post": {
                "description": "Finds BHL references for a name, does not include references of synonyms.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "summary": "Finds BHL references for a name, taxon, or nomenclatural event",
                "operationId": "post-name-refs",
                "parameters": [
                    {
                        "description": "Input data",
                        "name": "input",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/input.Input"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Matched references for the provided name",
                        "schema": {
                            "$ref": "#/definitions/bhl.RefsByName"
                        }
                    }
                }
            }
        },
        "/namerefs/{name}": {
            "get": {
                "description": "Finds BHL references for a name, does not include references of synonyms. There is an option to find references for the nomenclatural event of a name.",
                "consumes": [
                    "text/plain"
                ],
                "produces": [
                    "application/json"
                ],
                "summary": "Finds BHL references for a name, taxon, or nomenclatural event",
                "operationId": "get-name-refs",
                "parameters": [
                    {
                        "type": "string",
                        "example": "\"Pardosa moesta\"",
                        "description": "Name to find references for.",
                        "name": "name",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "example": "\"Docums Mycol. 34(nos 135-136",
                        "description": "Reference data used to filter results.",
                        "name": "reference",
                        "in": "query"
                    },
                    {
                        "type": "boolean",
                        "example": true,
                        "description": "If true, tries to find nomenclatural event reference.",
                        "name": "nomen_event",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Matched references for the provided name",
                        "schema": {
                            "$ref": "#/definitions/bhl.RefsByName"
                        }
                    }
                }
            }
        },
        "/ping": {
            "get": {
                "description": "Checks if the API is online and returns a simple response if it is.",
                "produces": [
                    "text/plain"
                ],
                "summary": "Check if API service is online",
                "operationId": "get-ping",
                "responses": {
                    "200": {
                        "description": "API status response",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/references/{page_id}": {
            "get": {
                "description": "Retrieves the BHL reference metadata by pageID.",
                "consumes": [
                    "text/plain"
                ],
                "produces": [
                    "application/json"
                ],
                "summary": "Get BHL reference metadata by pageID",
                "operationId": "get-refs",
                "parameters": [
                    {
                        "type": "integer",
                        "example": 6589171,
                        "description": "Page ID of a reference.",
                        "name": "page_id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response with data about the reference",
                        "schema": {
                            "$ref": "#/definitions/bhl.Reference"
                        }
                    }
                }
            }
        },
        "/taxon_items/{taxon_name}": {
            "get": {
                "consumes": [
                    "text/plain"
                ],
                "produces": [
                    "application/json"
                ],
                "summary": "Get BHL items where a given higher taxon is prevalent.",
                "operationId": "get-items-by-taxon",
                "parameters": [
                    {
                        "type": "string",
                        "example": "\"Lepidoptera\"",
                        "description": "Taxon Name",
                        "name": "taxon_name",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "BHL items with metadata and statistics",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/bhl.Item"
                            }
                        }
                    }
                }
            }
        },
        "/version": {
            "get": {
                "description": "Retrieves the current version of the BHLnames application.",
                "produces": [
                    "application/json"
                ],
                "summary": "Get BHLnames version",
                "operationId": "get-version",
                "responses": {
                    "200": {
                        "description": "Successful response with version information",
                        "schema": {
                            "$ref": "#/definitions/gnvers.Version"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "bhl.Item": {
            "description": "Item represents a BHL item, usually a journal volume of a journal or a book. It includes metadata about the item and statistics about the taxonomic groups mentioned in the item.",
            "type": "object",
            "properties": {
                "KingdomBacteriaNum": {
                    "description": "BacteriaNum is the number of names that belong to the Bacteria kingdom.",
                    "type": "integer",
                    "example": 1234
                },
                "doiTitle": {
                    "description": "TitleDOI provides DOI for the title.",
                    "type": "string",
                    "example": "10.1234/5678"
                },
                "itemId": {
                    "description": "ItemID is the BHL database ID for the Item.",
                    "type": "integer",
                    "example": 12345
                },
                "kingdomAnimaliaNum": {
                    "description": "AnimaliaNum is the number of names that belong to the Animalia kingdom.",
                    "type": "integer",
                    "example": 1234
                },
                "kingdomFungiNum": {
                    "description": "FungiNum is the number of names that belong to the Fungi kingdom.",
                    "type": "integer",
                    "example": 1234
                },
                "kingdomPlantaeNum": {
                    "description": "PlantaeNum is the number of names that belong to the Plantae kingdom.",
                    "type": "integer",
                    "example": 1234
                },
                "mainClass": {
                    "description": "MainClass is the most prevalent class in the Item.",
                    "type": "string",
                    "example": "Insecta"
                },
                "mainClassPercent": {
                    "description": "MainClassPercent indicates the percentage of names that belong\nto the most prevalent class.",
                    "type": "integer",
                    "example": 44
                },
                "mainFamily": {
                    "description": "MainFamily is the most prevalent family in the Item.",
                    "type": "string",
                    "example": "Buprestidae"
                },
                "mainFamilyPercent": {
                    "description": "MainFamilyPercent indicates the percentage of names that belong\nto the most prevalent family.",
                    "type": "integer",
                    "example": 13
                },
                "mainGenus": {
                    "description": "MainGenus is the most prevalent genus in the Item.",
                    "type": "string",
                    "example": "Agrilus"
                },
                "mainGenusPercent": {
                    "description": "MainGenusPercent indicates the percentage of names that belong\nto the most prevalent genus.",
                    "type": "integer",
                    "example": 5
                },
                "mainKingdom": {
                    "description": "MainKingdom is the most prevalent kingdom in the Item.",
                    "type": "string",
                    "example": "Animalia"
                },
                "mainKingdomPercent": {
                    "description": "MainKingdomPercent indicates the percentage of names that belong\nto the most prevalent kingdom.",
                    "type": "integer",
                    "example": 79
                },
                "mainOrder": {
                    "description": "MainOrder is the most prevalent order in the Item.",
                    "type": "string",
                    "example": "Coleoptera"
                },
                "mainOrderPercent": {
                    "description": "MainOrderPercent indicates the percentage of names that belong\nto the most prevalent order.",
                    "type": "integer",
                    "example": 14
                },
                "mainPhylum": {
                    "description": "MainPhylum is the most prevalent phylum in the Item.",
                    "type": "string",
                    "example": "Arthropoda"
                },
                "mainPhylumPercent": {
                    "description": "MainPhylumPercent indicates the percentage of names that belong\nto the most prevalent phylum.",
                    "type": "integer",
                    "example": 45
                },
                "mainTaxon": {
                    "description": "MainTaxon provides a clade that contains a majority of scientific names\nmentioned in the Item.",
                    "type": "string",
                    "example": "Arthropoda"
                },
                "mainTaxonPercent": {
                    "description": "MainTaxonPercent indicates the percentage of names that belong\nto the main taxon.",
                    "type": "integer",
                    "example": 45
                },
                "mainTaxonRank": {
                    "description": "MainTaxonRank is the rank of the main taxon.",
                    "type": "string",
                    "example": "phylum"
                },
                "titleId": {
                    "description": "TitleID is the BHL database ID for the Title (book or journal).",
                    "type": "integer",
                    "example": 12345
                },
                "titleName": {
                    "description": "TitleName is the name of a title (a book or a journal).",
                    "type": "string",
                    "example": "Bulletin of the American Museum of Natural History"
                },
                "titleYearEnd": {
                    "description": "TitleYearEnd is the year when the journal ceased publication.",
                    "type": "integer",
                    "example": 1922
                },
                "titleYearStart": {
                    "description": "TitleYearStart is the year the when book is published, or\na journal started publication.",
                    "type": "integer",
                    "example": 1890
                },
                "uniqNamesNum": {
                    "description": "UniqNamesNum is the number of unique names in the Item.",
                    "type": "integer",
                    "example": 1234
                },
                "volume": {
                    "description": "Volume is the information about a volume in a journal.",
                    "type": "string",
                    "example": "vol. 12"
                },
                "yearEnd": {
                    "description": "YearEnd is the year when the Item ceased publication.",
                    "type": "integer",
                    "example": 1893
                },
                "yearStart": {
                    "description": "YearStart is the year when the Item began publication.",
                    "type": "integer",
                    "example": 1892
                }
            }
        },
        "bhl.ItemStats": {
            "description": "ItemStats provides insights about a Reference's Item. This data can be used to infer the prevalent taxonomic groups within the Item.",
            "type": "object",
            "properties": {
                "KingdomBacteriaNum": {
                    "description": "BacteriaNum is the number of names that belong to the Bacteria kingdom.",
                    "type": "integer",
                    "example": 1234
                },
                "kingdomAnimaliaNum": {
                    "description": "AnimaliaNum is the number of names that belong to the Animalia kingdom.",
                    "type": "integer",
                    "example": 1234
                },
                "kingdomFungiNum": {
                    "description": "FungiNum is the number of names that belong to the Fungi kingdom.",
                    "type": "integer",
                    "example": 1234
                },
                "kingdomPlantaeNum": {
                    "description": "PlantaeNum is the number of names that belong to the Plantae kingdom.",
                    "type": "integer",
                    "example": 1234
                },
                "mainClass": {
                    "description": "MainClass is the most prevalent class in the Item.",
                    "type": "string",
                    "example": "Insecta"
                },
                "mainClassPercent": {
                    "description": "MainClassPercent indicates the percentage of names that belong\nto the most prevalent class.",
                    "type": "integer",
                    "example": 44
                },
                "mainFamily": {
                    "description": "MainFamily is the most prevalent family in the Item.",
                    "type": "string",
                    "example": "Buprestidae"
                },
                "mainFamilyPercent": {
                    "description": "MainFamilyPercent indicates the percentage of names that belong\nto the most prevalent family.",
                    "type": "integer",
                    "example": 13
                },
                "mainGenus": {
                    "description": "MainGenus is the most prevalent genus in the Item.",
                    "type": "string",
                    "example": "Agrilus"
                },
                "mainGenusPercent": {
                    "description": "MainGenusPercent indicates the percentage of names that belong\nto the most prevalent genus.",
                    "type": "integer",
                    "example": 5
                },
                "mainKingdom": {
                    "description": "MainKingdom is the most prevalent kingdom in the Item.",
                    "type": "string",
                    "example": "Animalia"
                },
                "mainKingdomPercent": {
                    "description": "MainKingdomPercent indicates the percentage of names that belong\nto the most prevalent kingdom.",
                    "type": "integer",
                    "example": 79
                },
                "mainOrder": {
                    "description": "MainOrder is the most prevalent order in the Item.",
                    "type": "string",
                    "example": "Coleoptera"
                },
                "mainOrderPercent": {
                    "description": "MainOrderPercent indicates the percentage of names that belong\nto the most prevalent order.",
                    "type": "integer",
                    "example": 14
                },
                "mainPhylum": {
                    "description": "MainPhylum is the most prevalent phylum in the Item.",
                    "type": "string",
                    "example": "Arthropoda"
                },
                "mainPhylumPercent": {
                    "description": "MainPhylumPercent indicates the percentage of names that belong\nto the most prevalent phylum.",
                    "type": "integer",
                    "example": 45
                },
                "mainTaxon": {
                    "description": "MainTaxon provides a clade that contains a majority of scientific names\nmentioned in the Item.",
                    "type": "string",
                    "example": "Arthropoda"
                },
                "mainTaxonPercent": {
                    "description": "MainTaxonPercent indicates the percentage of names that belong\nto the main taxon.",
                    "type": "integer",
                    "example": 45
                },
                "mainTaxonRank": {
                    "description": "MainTaxonRank is the rank of the main taxon.",
                    "type": "string",
                    "example": "phylum"
                },
                "uniqNamesNum": {
                    "description": "UniqNamesNum is the number of unique names in the Item.",
                    "type": "integer",
                    "example": 1234
                }
            }
        },
        "bhl.Meta": {
            "description": "Meta provides metadata for the results of a name-string search.",
            "type": "object",
            "properties": {
                "canonical": {
                    "description": "Canonical is a full canonical form of the input name-string.",
                    "type": "string"
                },
                "currentCanonical": {
                    "description": "CurrentCanonical is a full canonical form of a currently accepted\nname for the taxon of the input name-string.",
                    "type": "string"
                },
                "error": {
                    "description": "Error in results"
                },
                "imagesURL": {
                    "description": "ImagesURL provides URL that contains images of the taxon.",
                    "type": "string"
                },
                "input": {
                    "description": "Input of a name and/or reference",
                    "allOf": [
                        {
                            "$ref": "#/definitions/input.Input"
                        }
                    ]
                },
                "inputReferenceFrom": {
                    "description": "InputReferenceFrom indicates that input references were taked from\na data source.",
                    "type": "string"
                },
                "nomenEventFromCache": {
                    "description": "NomenEventFromCache indicates that nomenclatural event was taken from\na pre-cached data.",
                    "type": "boolean"
                },
                "synonyms": {
                    "description": "Synonyms is a list of synonyms for the name-string.",
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                },
                "totalRefsNum": {
                    "description": "ReferenceNumber is the number of references found for the name-string.",
                    "type": "integer"
                }
            }
        },
        "bhl.NameData": {
            "description": "NameData contains details about a scientific name in the BHL reference.",
            "type": "object",
            "properties": {
                "annotNomen": {
                    "description": "AnnotNomen is a nomenclatural annotation located near the matchted name.",
                    "type": "string",
                    "example": "sp. nov."
                },
                "editDistance": {
                    "description": "EditDistance is the number of differences (edit events)\nbetween Name and MatchName according to Levenshtein algorithm.",
                    "type": "integer",
                    "example": 0
                },
                "matchName": {
                    "description": "MatchedName is a scientific name match from the reference's text.",
                    "type": "string",
                    "example": "Pardosa moesta Banks, 1892"
                },
                "name": {
                    "description": "Name is a scientific name from the query.",
                    "type": "string",
                    "example": "Pardosa moesta"
                }
            }
        },
        "bhl.Part": {
            "description": "Part represents a distinct entity, usually a scientific paper,",
            "type": "object",
            "properties": {
                "doi": {
                    "description": "DOI provides DOI for a part (usually a paper/publication).",
                    "type": "string",
                    "example": "10.1234/5678"
                },
                "id": {
                    "description": "ID is the BHL database ID for the Part (usually a scientific paper).",
                    "type": "integer",
                    "example": 39371
                },
                "name": {
                    "description": "Name is the publication title.",
                    "type": "string",
                    "example": "On a remarkable bacterium (Streptococcus) from wheat-ensilage"
                },
                "pages": {
                    "description": "Pages are the start and end pages of a publication.",
                    "type": "string",
                    "example": "925-928"
                },
                "year": {
                    "description": "Year is the year of publication for a part.",
                    "type": "integer",
                    "example": 1886
                }
            }
        },
        "bhl.Reference": {
            "description": "Reference represents a BHL reference that matched the query. This could be a book, a journal, or a scientific paper.",
            "type": "object",
            "properties": {
                "doiTitle": {
                    "description": "TitleDOI provides DOI for a book or journal",
                    "type": "string",
                    "example": "10.1234/5678"
                },
                "itemId": {
                    "description": "ItemID is the BHL database ID for Item (usually a volume).",
                    "type": "integer",
                    "example": 12345
                },
                "itemStats": {
                    "description": "ItemStats provides insights about the Reference Item.\nFrom this data it is possible to infer what kind of\ntaxonomic groups are prevalent in the text.",
                    "allOf": [
                        {
                            "$ref": "#/definitions/bhl.ItemStats"
                        }
                    ]
                },
                "itemYearEnd": {
                    "description": "ItemYearEnd is the year when an Item ceased publication.",
                    "type": "integer",
                    "example": 1893
                },
                "itemYearStart": {
                    "description": "ItemYearStart is the year when an Item began publication (most\nitems will have only ItemYearStart).",
                    "type": "integer",
                    "example": 1892
                },
                "pageId": {
                    "description": "PageID is the BHL database ID for the page where the name was found.\nIt is provided by BHL.",
                    "type": "integer",
                    "example": 12345
                },
                "pageNum": {
                    "description": "PageNum is the page number provided by the hard copy of the publication.",
                    "type": "integer",
                    "example": 123
                },
                "part": {
                    "description": "Part corresponds to a scientific paper, or other\ndistinct entity in an Item.",
                    "allOf": [
                        {
                            "$ref": "#/definitions/bhl.Part"
                        }
                    ]
                },
                "titleId": {
                    "description": "TitleID is the BHL database ID for the Title (book or journal).",
                    "type": "integer",
                    "example": 12345
                },
                "titleName": {
                    "description": "TitleName is the name of a title (a book or a journal).",
                    "type": "string",
                    "example": "Bulletin of the American Museum of Natural History"
                },
                "titleYearEnd": {
                    "description": "TitleYearEnd is the year when the journal ceased publication.",
                    "type": "integer",
                    "example": 1922
                },
                "titleYearStart": {
                    "description": "TitleYearStart is the year the when book is published,\nor when the journal was first published.",
                    "type": "integer",
                    "example": 1890
                },
                "url": {
                    "description": "URL is the URL of the reference in BHL.",
                    "type": "string",
                    "example": "https://www.biodiversitylibrary.org/page/12345"
                },
                "volume": {
                    "description": "Volume is the information about a volume in a journal.",
                    "type": "string",
                    "example": "vol. 12"
                },
                "yearAggr": {
                    "description": "YearAggr is the most precise year information available for the\nreference. This could be from the reference year (part),\nthe year of a Volume (item), or from the title (usually a book\nor journal).",
                    "type": "integer",
                    "example": 1892
                },
                "yearType": {
                    "description": "YearType indicates the source of the YearAggr value.",
                    "type": "string",
                    "example": "part"
                }
            }
        },
        "bhl.ReferenceName": {
            "description": "ReferenceName represents a BHL entity that includes a matched scientific name and the reference where this name was discovered.",
            "type": "object",
            "properties": {
                "name": {
                    "description": "NameData contains detailed information about the scientific name found\nin the BHL reference.",
                    "allOf": [
                        {
                            "$ref": "#/definitions/bhl.NameData"
                        }
                    ]
                },
                "refMatchQuality": {
                    "description": "RefMatchQuality provides a number between 0 and 5 to indicate if\nthe reference is a good match for the input.\n1 - nothing is found\n2 - 15% (Odds \u003e 0.01)\n3 - 50% (Odds \u003e 0.1)\n4 - 80% (Odds \u003e 1)\n5 - 98% (Odds \u003e 10)",
                    "type": "integer"
                },
                "reference": {
                    "description": "Reference is the BHL reference where the name was detected.",
                    "allOf": [
                        {
                            "$ref": "#/definitions/bhl.Reference"
                        }
                    ]
                },
                "score": {
                    "description": "Score is the overall score of the match between the reference and\na name-string or a reference-string.",
                    "allOf": [
                        {
                            "$ref": "#/definitions/bhl.Score"
                        }
                    ]
                }
            }
        },
        "bhl.RefsByName": {
            "description": "RefsByName provides references to BHL Items, Parts and Pages where a name-string, taxon or a putative nomenclatural event were found.",
            "type": "object",
            "properties": {
                "meta": {
                    "description": "Meta provides metadata for the results of a name-string search.",
                    "allOf": [
                        {
                            "$ref": "#/definitions/bhl.Meta"
                        }
                    ]
                },
                "references": {
                    "description": "References is a list of references to BHL Items, Parts and Pages\nwhere a name-string was found.",
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/bhl.ReferenceName"
                    }
                }
            }
        },
        "bhl.Score": {
            "description": "Score provides a qualitative estimation of a match quality to a name-string, a nomen, or a reference-string.",
            "type": "object",
            "properties": {
                "annot": {
                    "description": "Annot is a score important for nomenclatural events and provides match\nfor nomenclatural annotations.",
                    "type": "integer",
                    "example": 3
                },
                "labels": {
                    "description": "Labels provide types for each match",
                    "type": "object",
                    "additionalProperties": {
                        "type": "string"
                    }
                },
                "odds": {
                    "description": "Odds is total Naive Bayes odds for the score.",
                    "type": "number",
                    "example": 0.1234
                },
                "oddsDetail": {
                    "description": "OddsDetail provides details of the odds calculation.",
                    "allOf": [
                        {
                            "$ref": "#/definitions/output.OddsDetails"
                        }
                    ]
                },
                "pages": {
                    "description": "RefPages is a score derived from matching pages in a reference\nand a page from BHL.",
                    "type": "integer",
                    "example": 3
                },
                "title": {
                    "description": "RefTitle is the score of matching reference's titleName.",
                    "type": "integer",
                    "example": 3
                },
                "total": {
                    "description": "Total is a simple sum of all available individual scores.",
                    "type": "integer",
                    "example": 15
                },
                "volume": {
                    "description": "RefVolume is a score derived from matching volume from\nreference and BHL Volume.",
                    "type": "integer",
                    "example": 3
                },
                "year": {
                    "description": "Year is a score representing the quality of a year match\nin a reference-string or the name-string.",
                    "type": "integer",
                    "example": 3
                }
            }
        },
        "gnvers.Version": {
            "description": "Version provides information about the version of an application.",
            "type": "object",
            "properties": {
                "build": {
                    "description": "Build contains the timestamp or other details\nindicating when the app was compiled.",
                    "type": "string",
                    "example": "2023-08-03_18:58:38UTC"
                },
                "version": {
                    "description": "Version specifies the version of the app, usually in the v0.0.0 format.",
                    "type": "string",
                    "example": "v1.0.2"
                }
            }
        },
        "input.Input": {
            "description": "Input is used to pass data to the BHLnames API. It contains infromation about a name and a reference where the name was mentioned. Reference can point to a name usage or a nomenclatural event.",
            "type": "object",
            "properties": {
                "id": {
                    "description": "ID is a unique identifier for the Input. It is optional and helps\nto find Input data on the client side.",
                    "type": "string",
                    "example": "a1b2c3d4"
                },
                "name": {
                    "description": "Name provides data about a scientific name. Information can be\nprovided by a name-string or be split into separate fields.",
                    "allOf": [
                        {
                            "$ref": "#/definitions/input.Name"
                        }
                    ]
                },
                "params": {
                    "$ref": "#/definitions/input.Params"
                },
                "reference": {
                    "description": "Reference provides data about a reference where the name was\nmentioned. Information can be provided by a reference-string or\nbe split into separate fields.",
                    "allOf": [
                        {
                            "$ref": "#/definitions/input.Reference"
                        }
                    ]
                }
            }
        },
        "input.Name": {
            "description": "Name provides data about a scientific name.",
            "type": "object",
            "properties": {
                "authors": {
                    "description": "NameAuthors is the authorship of a name.",
                    "type": "string",
                    "example": "Linnaeus"
                },
                "canonical": {
                    "description": "CanonicalSimple is the canonical form of a name, meaning the name without\nauthorship or a year.",
                    "type": "string",
                    "example": "Canis lupus"
                },
                "canonicalStem": {
                    "description": "CanonicalStem is the canonical form further normalized by removing\nsuffixes of specific and infraspecific epithets as well as normalizing\nsome interchangeable letters.",
                    "type": "string",
                    "example": "Canis lup"
                },
                "nameString": {
                    "description": "NameString is a scientific name as a string. It might be enough to\nprovide only NameString without provided other fields.",
                    "type": "string",
                    "example": "Canis lupus Linnaeus, 1758"
                },
                "year": {
                    "description": "NameYear is the year of publication for a name.",
                    "type": "integer",
                    "example": 1758
                }
            }
        },
        "input.Params": {
            "description": "Params contain options used in the search and output.",
            "type": "object",
            "properties": {
                "nomenEvent": {
                    "description": "WithNomenEvent is true when the result tries to get a nomenclatural event\nfor the name.",
                    "type": "boolean",
                    "example": false
                },
                "refsLimit": {
                    "description": "RefsLimit provides the maximum number of references to return for each\nname.",
                    "type": "integer",
                    "example": 3
                },
                "shortenedOutput": {
                    "description": "WithShortenedOutput determines if references details will be provided.\nIf it is `true`, found references are not provided, only the metadata\nabout them.",
                    "type": "boolean",
                    "example": false
                },
                "showDetails": {
                    "description": "WithDetails is true when it is desirable to show more information in the\noutput.",
                    "type": "boolean",
                    "example": false
                },
                "sortDesc": {
                    "description": "SortDesc determines the order of sorting the output data. If `true`\ndata are sorted by year from latest to earliest. If `false` then from\nearliest to latest.",
                    "type": "boolean",
                    "example": true
                },
                "taxon": {
                    "description": "WithTaxon is true when result includes data from all names that point to\na particular taxon, not only from the given name.",
                    "type": "boolean",
                    "example": false
                }
            }
        },
        "input.Reference": {
            "description": "Reference provides data about a reference where the name was mentioned.",
            "type": "object",
            "properties": {
                "authors": {
                    "description": "RefAuthors is the authorship of a reference.",
                    "type": "string",
                    "example": "Linnaeus"
                },
                "journal": {
                    "description": "Journal is the title of the journal where the reference was\npublished.",
                    "type": "string",
                    "example": "Systema naturae per regna tria naturae, secundum classes, ordines, genera, species, cum characteribus, differentiis, synonymis, locis."
                },
                "pageEnd": {
                    "description": "PageEnd is the last page of the reference.",
                    "type": "integer",
                    "example": 24
                },
                "pageStart": {
                    "description": "PageStart is the first page of the reference.",
                    "type": "integer",
                    "example": 24
                },
                "refString": {
                    "description": "RefString is a reference as a string. It might be enough to\nprovide only RefString without provided other fields.",
                    "type": "string",
                    "example": "Linnaeus, C. 1758. Systema naturae per regna tria naturae, secundum classes, ordines, genera, species, cum characteribus, differentiis, synonymis, locis. Tomus I. Editio decima, reformata. Holmiae: impensis direct. Laurentii Salvii. i–ii, 1–824 pp."
                },
                "volume": {
                    "description": "Volume is the volume of the journal where the reference was\npublished.",
                    "type": "integer",
                    "example": 1
                },
                "yearEnd": {
                    "description": "RefYear is the year of publication for a reference.",
                    "type": "integer",
                    "example": 1758
                },
                "yearStart": {
                    "description": "RefYear is the year of publication for a reference.",
                    "type": "integer",
                    "example": 1758
                }
            }
        },
        "output.OddsDetails": {
            "type": "object",
            "additionalProperties": {
                "type": "number"
            }
        }
    },
    "externalDocs": {
        "description": "OpenAPI",
        "url": "https://swagger.io/resources/open-api/"
    }
}